<section>
  <div class="subject-matters ">
    <div class="subject-matters__container">
      <div class="title main-top-container">
        <div class="primary-title">
          <div></div>
          <h3>Scientific Committee</h3>
          <div></div>
        </div>

        <p>This is the engine house that will create momentum for the implementation of global platform that will
          discuss drone related subject matter at a global level. Each co-creation lab will be made of ten (10) experts.
        </p>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/mark-bond.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Mark Bond</h3>
                <p>Principal Consultant
                  The Institute for Drone Technology.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/jerry.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Jerry Akubo</h3>
                <p>National Technical Consultant - INTERPOL NCB Abuja
                  CEO/Founder, TAC Initiative Africa
                  .</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/sanjana2.jpg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Sanjana Rathi</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/akson.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Ackson Kondwani Mwenda</h3>
                <p>Aerospace Engineer | Founder African Drone Voice.Zambian.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/BROOKE.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Taspal</h3>
                <p>CEO, Drone Alert Systems,
                  Estonia
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/david.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>David Mc Creary</h3>
                <p>President/CEO, New Age Aerial,
                  Sacramento, California - USA.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/jan.jpg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Jan Otto Johansen
                </h3>
                <p>Police Superintendent
                  Head of C-UAV
                  Bomb squad
                  .</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="https://cdn.tacafrica.org/assets/img/Orville-McCalla.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Orville McCalla</h3>
                <p>CEO/President AeroStream Consulting Inc.;
                  Canada
                  .</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- The Modal -->
<div id="myModal" #myModal class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" #close>&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
