@import '../../../styles/abstracts/variables';

.subject-matters {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("https://cdn.tacafrica.org/assets/img/subject-matters.png");
  min-height: 1148px;
  height: 90vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 5px;


  .primary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 10px;

    div {
      width: 30px;
      height: 4px;
      background-color: white;
    }
  }


  h3 {
    color: white;
    font-size: 1.7em;
    text-align: center;
    font-weight: 900;
    padding: 0 5px;
  }

  p {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 0px;
    color: white;
    line-height: 1.08em;
    font-size: 1em;
    text-align: center;
    margin-bottom: 15px;
  }
}

.expert-card {
  max-width: 250px;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  margin-top: 30px;
  min-height: 366px;


  &__img {
    height: 250px;
    width: 250px;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &__details {
    padding: 10px;

    .open-details {
      width: 50px;
      height: 50px;
      background: white;
      border-radius: 50%;
      transform: translatey(-32px);
      margin: 0 auto;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
    }

    h3 {
      color: #00285b;
      font-weight: bold;
      margin-top: -20px;
    }

    p {
      color: #3A3A3A;
      font-size: 12px;
      margin-top: 10px;
      min-height: 36px;
    }

    i {
      color: #000000c4;
      align-self: center;
    }

    .open-linkedin {
      i {
        color: #7676e1;
        margin-top: 10px;

        :hover {
          color: black;
        }
      }

    }
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .expert-card {
    min-height: 364px !important;

    &__img {
      height: 210px !important;
      width: 210px !important;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .subject-matters {
    min-height: 3553px;
  }
}

@media (max-width: $breakpoint-sm) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 5px;


    .primary-title {


      h3 {
        font-size: 1.4em;
      }

      p {
        font-size: .9em;
      }
    }
  }
}



.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
