<section>
  <div class="subject-matters">
    <div class="subject-matters__container">
      <div class="title">
        <div class="primary-title">
          <div></div>
          <h3>Scientific Committee</h3>
          <div></div>
        </div>

        <p>This is the engine house that will create momentum for the implementation of global platform that will
          discuss drone related subject matter at a global level. Each co-creation lab will be made of ten (10) experts.
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/SANJANA.jpeg">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Brooke Tapsall</h3>
                <p>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.</p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
