@import '../../styles/abstracts/variables';

.about-tac {
  margin-top: 100px;
  margin-bottom: 100px;

  &__details {
    max-width: 35em;

    h3 {
      font-size: 2.5em;
      font-weight: 900;
      color: #00285b;
      margin-bottom: 5px;
      letter-spacing: -0.03em;
    }

    p {
      font-size: 1.07em;
      line-height: 1.5;
      margin-top: 15px;
    }
  }

  &__goals {
    h3 {
      font-size: 2.5em;
      font-weight: 900;
      color: #00285b;
      margin-bottom: 20px;
      margin-left: 95px;
      letter-spacing: -0.03em;
    }

    .goal-container {
      display: flex;

      i {
        padding: 22px;
        background: #1F5E94;
        border-radius: 50%;
        font-size: 2em;
        color: white;
        min-width: 75px;
        min-height: 75px;
      }

      .goal-detail {
        display: flex;
        flex-direction: column;

        :first-child {
          color: #00285b#1F5E94;
          ;
          font-weight: 500;
          padding-left: 20px;
          font-size: 1.5em;
        }

        :last-child {
          font-size: 1.07em;
          line-height: 1.07;
          padding: 5px 0 0 20px;
        }
      }
    }

  }

  &__logo {
    display: flex;
    align-items: center;
  }
}

@media (max-width: $breakpoint-lg) {
  .about-tac {
    &__details {
      margin: 0 auto;
      text-align: center;

      h3 {
        font-size: 2em;
      }

      p {
        font-size: .9em;
      }
    }

    &__goals {
      text-align: center;

      h3 {
        margin-top: 50px;
        margin-left: 0;
        font-size: 2em;
      }

      .goal-container {
        flex-direction: column;

        i {
          font-size: 1.5em;
        }

        .goal-detail {

          :first-child {
            margin-top: 10px;
            font-size: 1.2em;
          }

          :last-child {
            font-size: .9em;
          }
        }
      }

    }

    &__logo {
      margin-top: 30px;
    }
  }
}
