
<app-slash-details></app-slash-details>

<div>
    <div class="container about-tac">
        <div class="row about-tac__row">
            <div class="col-lg-2">
                <img src="../../assets/img/full-logo.png" alt="logo" srcset="">
            </div>
            <div class="col-lg-10">
                <p>
                     The proposed TAC Africa Summit 2020 will be organized under the patronage of the Office of the
                     National Security Adviser (ONSA) and the Ministry of Aviation in partnership with International
                     organization and other Authorized Agencies.
                </p>

                <p>
                    Overall, the Summit is hoped to bring together a High-level conference with comparative views of
                    industry leaders, government officials, researchers from national and international subject matter
                    expertise a national compendium of Standard operation Procedure and International Best Practices
                    for Drone & Counter Drone operations is envisaged to be built from this working document.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- summit partners -->
<app-partners></app-partners>