<app-header-page-nav [title]="title"></app-header-page-nav>
<app-slash-details></app-slash-details>

<section>
  <div class="subject-matters ">
    <div class="subject-matters__container">
      <div class="title main-top-container">
        <div class="primary-title">
          <div></div>
          <h3>Advisory Board</h3>
          <div></div>
        </div>

        <p>Group of experts that share in our vision for establishing a lead in using the benefits of Drone Technology
          to make Africa region and the world Safer.
        </p>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-lg-4">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../assets/img/aderanti.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>AIG C.K. Aderanti, mni (Rtd)</h3>
                <p>
                  Daniel Security Systems Limited
                  President/CEO
                  Nigeria.
                </p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../assets/img/ingram.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>P.J. Ingram</h3>
                <p>MBE BSc MA GCGI
                  Managing Editor,
                  Grey Hare Media Limited,
                  London, United Kingdom
                </p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="expert-card">
              <div class="expert-card__img">
                <img src="../../../assets/img/BROOKE.png">
              </div>
              <div class="expert-card__details">
                <div class="open-details"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h3>Ms Brooke Tapsall</h3>
                <p>CEO, DroneALERT,
                  Estonia & Australia
                </p>
                <div class="open-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- summit subject matters-->
<app-subject-matters></app-subject-matters>

<!-- summit partners -->
<app-partners></app-partners>
