<section>
  <div class="subject-matter-container container main-top-container">
    <div class="subject-matter-container__main">
      <div class="subject-matter-container__title">
        <div class="primary-title">
          <div></div>
          <h3>Co-Creation Groups</h3>
          <div></div>
        </div>

        <p>The Summit project will be powered by ten co-creation groups to discuss the challenges and solutions
          bothering on drone technology in a more detailed format</p>
      </div>

      <div data-aos="fade-up" data-aos-duration="2000">
        <img class="mini-info-graph co-creation-graph"
           src="https://res.cloudinary.com/silva/image/upload/v1581697381/co-creation-small.svg" alt="co-creation-group" srcset="">
        <img class="large-info-graph co-creation-graph"
          src="https://res.cloudinary.com/silva/image/upload/v1581698104/co-creation-big.svg" alt="co-creation-group">
      </div>
    </div>
  </div>
</section>
