@import '../../../styles/abstracts/variables';

.subject-matter-container {
  margin-bottom: 100px;
  margin-top: 100px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 5px;


    .primary-title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      div {
        width: 30px;
        height: 4px;
        background-color: $secondary-main-color;
      }
    }


    h3 {
      color: $secondary-main-color;
      font-size: 1.7em;
      text-align: center;
      font-weight: 900;
      padding: 0 5px;
    }

    p {
      max-width: 640px;
      margin: 0 auto;
      margin-bottom: 0px;
      color: #8D8F9C;
      line-height: 1.2em;
      font-size: 1.3em;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}


.first {
  transform: translateX(15px);
}

.last {
  transform: translateX(-15px);
}

@keyframes mymove {

  0% {
    top: 0px;
    right: 0px
  }

  75% {
    top: -20px;

  }

  100% {
    top: 0px;
    right: 0px
  }
}


@media (max-width: $breakpoint-md) {
  .first {
    transform: translateX(70px);
  }

  .last {
    transform: translateX(-70px);
  }

}

@media (max-width: $breakpoint-sm) {
  .first {
    transform: translateX(86px);
  }

  .last {
    transform: translateX(-86px);
  }

  .subject-matter-container {

    &__title {
      p {
        font-size: .9em;
      }
    }
  }

}

.mini-info-graph {
  display: none;
}


@media (max-width: $breakpoint-sm) {
  .subject-matter-container {
    &__title {
      h3 {
        font-size: 1.4em;
      }

      p {
        font-size: .9em;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .mini-info-graph {
    display: block !important;
  }

  .large-info-graph {
    display: none !important;
  }
}

@media (max-width: $breakpoint-xsm) {
  .subject-matter-container {
    &__title {
      margin-bottom: 0;
    }
  } 
}
