@import '../../styles/abstracts/variables';

.sponsor-navbutton {
  border-color: transparent;
  border: 5px solid black;
  border-radius: 30px;
  color: black;
  transition: .3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-left: 2em;


  &:hover,
  &:after,
  &:focus {
    background-color: $secondary-main-color;
    color: white;
  }
}

.nav-item {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 10px;
  outline: none;
}

.navbar-collapse {
  justify-content: right;
}
