@import "../../node_modules/font-awesome/css/font-awesome.min.css";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import '../styles/abstracts/functions';

@import '../styles/base/reset';

@import '../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


.modal-fade {
  animation-name: popup;
  animation-duration: 0.5s;
}

@keyframes popup {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}
