.summit-partners {
  margin-bottom: 100px;

  a {
    text-decoration: none;
    outline: none;

    .partner-button {
      border: 1px solid #00285b !important;
      border-radius: 5px;
      color: white;
      transition: .3s ease-in-out;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      padding: 12px 46px;
      margin: 0 auto;
      background-color: #00285b;
      margin-top: 50px;
      outline: none;
      display: flex;


      &:hover,
      &:after,
      &:focus {
        background-color: #011124;
      }
    }

  }
  
  &__primary-title {
    text-align: center;

    :first-child {
      font-size: 2em;
      font-weight: bold;
      line-height: 1.5em;
      color: #00285B;
      margin-bottom: 2px;
    }

    :last-child {
      max-width: 597px;
      margin: 0 auto;
      margin-bottom: 0px;
      color: #8D8F9C;
      line-height: 1.2em;
      font-size: 1em;
      margin-bottom: 35px;
    }
  }
}

img {
  filter: grayscale(100%);
  transition: all .5s;

  &:hover {
    filter: grayscale(0%);
  }
}