<section>
  <div class="summit-partners main-top-container">
    <div class="container">
      <div class="container-title">
        <div class="container-title__primary">
          <div class="summit-line ln-blue"></div>
          <h2 class="summit-title" style="max-width: 400px;">OUR PARTNERS</h2>
        </div>

        <div class="container-title__secondary">
          <h2>OUR PARTNERS</h2>
        </div>
      </div>
    </div>


    <div class="container">
      <owl-carousel-o [options]="customOptions" data-aos="fade-up" data-aos-duration="2000">

        <ng-template carouselSlide *ngFor="let image of images" [id]="image.id">
          <a [href]="image.link">
            <img [src]="image.image" [alt]="image.text" [title]="image.text">
          </a>
        </ng-template>

      </owl-carousel-o>

      <div class="d-flex justify-content-end">
        <a href="https://forms.gle/Q1sPVYVBA5GhRni88">
          <button class="btn btn-outline">Partner With Us <i class="fas fa-arrow-right"></i></button>
        </a>
      </div>
    </div>

  </div>

</section>
