
.slash-details {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("../../../assets/img/slash-details.png");
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: white;
        display: flex;
        justify-content: space-around;


    }

    &__main {
        display: flex;

        .svg {
            align-self: center;
            background: white;
            padding: 10px 20px;
            border-radius: 50%;
        }

        .main-details {
            align-self: center;
            margin-left: 10px;

            :first-child {
                font-weight: bold;
                font-size: 1.7 em;
            }

            :last-child {
                margin-top: 10px;
                max-width: 108px;
                line-height: 1.3;
            }
        }

    }
}