@import "../../../styles/abstracts/variables";

.slash-details {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("../../../assets/img/slash-details.JPG");
  min-height: 355px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;


  }

  &__main {
    display: flex;

    .svg {
      align-self: center;
      background: white;
      padding: 10px 20px;
      border-radius: 50%;
    }

    .main-details {
      align-self: center;
      margin-left: 10px;

      :first-child {
        font-weight: bold;
        font-size: 2em;
      }

      :last-child {
        margin-top: 10px;
        max-width: 108px;
        line-height: 1.3;
      }
    }

  }
}

@media (max-width: $breakpoint-lg) {
  .slash-details {
    min-height: 600px;
    
    &__container {
        flex-direction: column;
        top: 17%;
    }

    &__main {
        margin: 0 auto;
        margin-top: 33px;
    }
  }
}
