@import '../../../styles/abstracts/variables';

.sponsor-navbutton {
  border: 1px solid goldenrod !important;
  border-radius: 30px;
  color: white;
  border-color: transparent;
  transition: .3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 2em;
  padding: 7px 24px;


  &:hover,
  &:after,
  &:focus {
    background-color: goldenrod;
    color: white;
  }
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 10px;
  outline: none;
}

.navbar-collapse {
  justify-content: flex-end;
}


//Boostrap styling
.navbar-light .navbar-nav .nav-link {
 color: white;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: goldenrod;
}