<nav style="transition: .7s all;" [style.background]="isShow ? 'rgba(19, 19, 28, 0.94)' : 'transparent'"
  class="navbar navbar-expand-lg navbar-light bg-applight fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="https://cdn.tacafrica.org/assets/img/logo.png" height="50" alt="logo"
        srcset=""> </a>

    <button type="button" class="navbar-toggler navbar-toggle collapsed" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-expanded="false" aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation" (click)="onClickMe()">
      <span class="icon-bar" #top></span>
      <span class="icon-bar" #middle></span>
      <span class="icon-bar" #bottom></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact:true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon']">Registration</a>
        </li>
      </ul>
      <a href="https://forms.gle/kJREzHH5Y63P1QbYA"><button class="btn sponsor-navbutton my-2 my-sm-0"
        type="submit">Call for Experts</button></a> 
    </div>
  </div>

</nav>
