<section>
  <div class="summit-structure container">
    <div class="summit-structure__primary-title">
      <p>OUR STRUCTURE</p>
      <P> There is currently an opportunity to join us, help steer the strategic aspects of TAC Africa Summit 2020.
      </P>
      <a href="#">
        <button>JOIN US</button>
      </a>
    </div>
    <div>
      <div class="summit-structure__secondary-title">
        <div></div>
        <p>Advisory Board</p>
        <div></div>
      </div>

      <div>
        <div class="row structure-row">
          <div class="col-sm-6">
            <div class="structure-card-container">
              <div class="structure-card">
                <img class="img-thumbnail" src="../../assets/img/ingram.jpg" alt="PHILIP INGRAM">
                <h3>PHILIP INGRAM</h3>
                <P> MBE BSc MA GCGI
                  Managing Editor,
                  Grey Hare Media Limited,
                  London, United Kingdom
                </P>
                <a href="#">
                  <button>MORE DETAILS</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="structure-card-container">
              <div class="structure-card">
                <img class="img-thumbnail" src="../../assets/img/aderonti.jpg" alt="PHILIP INGRAM">
                <h3>AIG C.K. ADERANTI</h3>
                <P>Daniel Security Systems Limited President/CEO Nigeria.
                </P>
                <a href="#">
                  <button>MORE DETAILS</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="summit-structure__secondary-title">
      <div></div>
      <p>Scientific Committe</p>
      <div></div>
    </div>

    <div>
      <div class="row structure-row">
        <div class="col-lg-4">
          <div class="structure-card-container">
            <div class="structure-card">
              <img class="img-thumbnail" src="../../assets/img/BROOKE.png" alt="PHILIP INGRAM">
              <h3>Ms Brooke Tapsall</h3>
              <P>CEO, Drone Alert Systems</P>
              <a href="#">
                <button>MORE DETAILS</button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="structure-card-container">
            <div class="structure-card">
              <img class="img-thumbnail" src="../../assets/img/David.png" alt="PHILIP INGRAM">
              <h3>David Mc Creary</h3>
              <P>President/CEO, New Age Aerial,
                Sacramento, California - USA
              </P>
              <a href="#">
                <button>MORE DETAILS</button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="structure-card-container">
            <div class="structure-card">
              <img class="img-thumbnail" src="../../assets/img/mark-bond.png" alt="PHILIP INGRAM">
              <h3>Mark Bond</h3>
              <P>Principal Consultant
                The Institute for Drone Technology
              </P>
              <a href="#">
                <button>MORE DETAILS</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row structure-row">
        <div class="col-lg-4">
          <div class="structure-card-container">
            <div class="structure-card">
              <img class="img-thumbnail" src="../../assets/img/jerry.png" alt="PHILIP INGRAM">
              <h3>Jerry Akubo</h3>
              <P>National Technical Consultant - INTERPOL NCB Abuja
                CEO/Founder, TAC Initiative Africa
              </P>
              <a href="#">
                <button>MORE DETAILS</button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="structure-card-container">
            <div class="structure-card">
              <img class="img-thumbnail" src="../../assets/img/SANJANA.jpeg" alt="PHILIP INGRAM">
              <h3>Sanjana Rathi</h3>
              <P>Research Analyst, Cyber Peace Foundation, Ranchi Jharkhand, India.
              </P>
              <a href="#">
                <button>MORE DETAILS</button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="structure-card-container">
            <div class="structure-card">
              <img class="img-thumbnail" src="../../assets/img/akson.jpeg" alt="PHILIP INGRAM">
              <h3>Ackson Kondwani Mwenda</h3>
              <P>Aerospace Engineer | Founder African Drone Voice.Zambian
              </P>
              <a href="#">
                <button>MORE DETAILS</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>
