@import "../../styles/abstracts/variables";


.summit-header {
  min-height: 815px;
  height: 100vh;
  width: 100%;
  position: relative;
  ;
  background-color: $summit-dark-blue;

  &__container {
    color: #fff;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 10em;
    display: flex;

    .row {
      width: 100%;
      position: relative;

      .drone-icon {
        height: 150px;
        position: absolute;
        right: -85px;
        top: -58px;
      }
    }
  }
}

.summit-header-info {
  z-index: 100;

  a {
    outline: none;
  }

  &__main {

    h1 {
      font-size: 3.5em;
      font-weight: 598;
      line-height: 1.25;
    }
  }

  &__tag {
    font-size: 1.5em;
    text-transform: lowercase;
    margin-top: 1em;
  }


  &__button {
    button {
      border: none;
      border-radius: 5px;
      color: #000000;
      font-weight: 500;
      transition: .3s ease-in-out;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;
      padding: 15px 45px;
      margin-top: 1em;
      outline: none;
      background: $summit-light-orange;
      box-shadow: 0px 2px 10px 4px #5946164f,
        12px 12px 12px 0 #00000008;


      &:hover,
      &:after,
      &:focus {
        background-color: $summit-dark-orange;
      }
    }
  }

  &__social {
    margin-top: 1em;

    .social-network {
      display: flex;
      max-width: 250px;
      justify-content: space-between;
      padding: 0 20px;
    }

    .icoSocial {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      border-radius: 5px;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 2em;
      background: #374580;
      color: #fff;

      i {
        line-height: 50px;
      }

      &:hover,
      &:after,
      &:focus {
        background-color: #323f73;
      }
    }



  }
}

.summit-header-illustration {
  padding-left: 3em;

  &__img {
    width: 100%;
    height: auto;
  }
}

.summit-front-details {

  // max-width: 479px;
  p {
    font-size: 1.2em;
    line-height: 1.4em;
    letter-spacing: 0.008em;
    font-weight: 500;
    margin-top: 3em;
  }

}


.figure-drone {
  position: relative;
  min-height: 450px;
  background-color: #ddd;
  z-index: -1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  .summit-drone {
    background-image: url('../../assets/drone-3191472.jpg');
    width: calc(100% - 7em);
    height: 300px;
    background-size: cover;
  }

  svg {
    width: calc(100% - 25em);
    z-index: -1;
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    right: 3em;
  }
}

@media (max-width: $breakpoint-lg) {}

@media (max-width: $breakpoint-md) {}

@media (max-width: $breakpoint-sm) {}

@media (max-width: $breakpoint-xsm) {}

@media (max-width: $breakpoint-xxsm) {}
