@import '../../../styles/abstracts/variables';

.header-page-nav {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("https://cdn.tacafrica.org/assets/img/slash-details.JPG");
  min-height: 355px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;


  }

  &__main {
    h3 {
      font-size: 4.5em;
      color: #ffff;
      font-weight: 900;
      user-select: none;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .header-page-nav {

    &__main {
      h3 {
        font-size: 3em;
      }
    }
  }
}
