@import '../../../styles/abstracts/variables';

.header-page-nav {
  background: $summit-dark-blue;
  min-height: 355px;
  position: relative;

  &__container {
    position: absolute;
    left: 0;
    top: 2em;
    width: 100%;

  }
}

@media (max-width: $breakpoint-lg) {
}
