@import '../../../styles/abstracts/variables';

.header-page-nav {
  background-image: linear-gradient(to bottom, rgba(0, 40, 90, 0.7)),
    url("https://res.cloudinary.com/silva/image/upload/v1581604140/tac-subhead.png");
  min-height: 355px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;


  }

  &__main {
    h3 {
      font-size: 2.5em;
      color: #ffff;
      font-weight: 900;
      user-select: none;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .header-page-nav {

    &__main {
      h3 {
        font-size: 2em;
      }
    }
  }
}
