@import "../../../styles/abstracts/variables";

.summit-footer-top {
  background: $summit-light-blue;
  min-height: 350px;
  display: flex;
  position: relative;
}

.summit-footer {
  background: $summit-dark-blue;
  color: #dddddd;
  display: flex;
  position: relative;

  &__main {
    width: 100%;
    margin-bottom: 2em;
    margin-top: .55em;

    font-size: .99em;
  }

}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__socials {
    margin-top: 50px;
  }

  &__menu {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    a {
      color: #dddddd;
      margin-left: 10px;
      text-decoration: none;
    }
  }

}

.summit-newsletter {
  max-width: 700px;
  border: 1px solid black;
  border-radius: 5px;

  margin: 0 auto;
  top: -150px;
  background: #fff;
}


.summit-social .icoSocial {
  width: 35px;
  height: 41px;
  font-size: 1em;
  border-radius: 1px;
  margin-left: 10px;
}

@media (max-width: $breakpoint-md) {

  .summit-footer {
    &__main {
      top: 122px;
    }
  }

}

@media (max-width: $breakpoint-sm) {
  .footer-inner {
    flex-direction: column;
    align-items: center;
  }
}
