
<section>
  <div class="summit-footer">

    <div class="summit-footer__main main-top-container container">


      <div class="footer-inner">

        <div class="footer-inner__menu">
          <a [routerLink]="['about']">
            <p>About | </p>
          </a>
          <a [routerLink]="['cocreation-lab']">
            <p>Co-creation Lab | </p>
          </a>
          <a [routerLink]="['coming-soon']">
            <p>Register</p>
          </a>
        </div>

        <div class="footer-inner summit-social">
          <ul class="social-network">
            <li><a href="https://web.facebook.com/tacafrica.org/" class="icoSocial" title="Facebook"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/29341224/" class="icoSocial" title="Linkedin"><i
                  class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/technologyagainstcrime/" class="icoSocial" title="Instagram"><i
                  class="fa fa-instagram"></i></a></li>
          </ul>
        </div>


      </div>

    </div>
  </div>
</section>
