@import "../../../styles/abstracts/variables";

.summit-footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("https://cdn.tacafrica.org/assets/img/footer.png");
  min-height: 522px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__main {
    margin: 1em;
    padding-top: 3em;
  }
}

.col-lg-4 {
  margin-bottom: 2em;

  h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  a {
    display: flex;
    padding: 0px 0px 20px 0px;
    align-items: center;
    justify-content: left;
    margin-left: 5.5em;
    text-decoration: none;
    transition: all .5s ease;

    p {
      margin-left: 2.5em;
      color: white;
    }

    i {
      color: white;
      transition: all .5s ease;
    }
  }
}

.newsletter {
  p {
    color: white;
    margin-bottom: 1em;
    text-align: center;
    line-height: 22px;
  }
}

.fal:hover,
.fab:hover {
  transform: rotateY(360deg);
}

.fa-twitter:hover {
  color: #55acee !important;
}

.fa-facebook:hover {
  color: #3b5999 !important;
}

.fa-linkedin:hover {
  color: #0077b5 !important;
}

.fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
  border-radius: 20px;
  // -webkit-background-clip: text !important;
  // -webkit-text-fill-color: transparent !important;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21%;
  margin: 0 auto;
  margin-top: 80px;

  li {
    color: #fff;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.last {
  color: #fff;
  margin: 0 auto;
  width: 55%;
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 990px) {
  .follow-us-info {
    max-width: 400px;
    margin: 0 auto;
  }

  .contact-info {
    max-width: 400px;
    margin: 0 auto;
  }

  .newsletter {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: $breakpoint-md) {

  .col-lg-4 {
    h1 {
      margin-bottom: .5em;
    }

    a {
      display: flex;
      padding: 0px 0px 20px 0px;
      align-items: center;
      justify-content: left;
      margin-left: 4.5em;
      text-decoration: none;
      transition: all .5s ease;

      p {
        margin-left: .5em;
        color: white;
      }

      i {
        color: white;
        transition: all .5s ease;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 0px;

    li {
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .follow-us {
    padding-left: 2em;
  }

  .last {
    color: #fff;
    margin: 0 auto;
    min-width: 300px;
    text-align: center;
    margin-top: 1em;
    padding-bottom: .2em;
  }
}


.follow-us {
  padding-left: 3em;
}
