<section>
  <div class="summit-footer ">

    <div class="summit-footer__main main-top-container">
      <div class="summit-newsletter">
              <div class="container-title">
                <div class="container-title__primary">
                  <div class="summit-line ln-blue"></div>
                  <h2 class="summit-title">OUR PARTNERS</h2>
                </div>
              </div>
      </div>

      <div class="footer-inner">


        <div class="footer-inner__socials">
          <ul>
            <li><a href="https://www.instagram.com/technologyagainstcrime/" class="icoRss" title="Instagram"><i
                  class="fa fa-instagram"></i></a></li>
            <li><a href="https://web.facebook.com/tacafrica.org/" class="icoFacebook" title="Facebook"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/29341224/" class="icoLinkedin" title="Linkedin"><i
                  class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="footer-inner__menu">
          <a [routerLink]="['about']">
            <p>About | </p>
          </a>
          <a [routerLink]="['cocreation-lab']">
            <p>Co-creation Lab | </p>
          </a>
          <a [routerLink]="['coming-soon']">
            <p>Register</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
