<footer>
  <div class="summit-footer ">
    <div class="container">
      <div class="row summit-footer__main">

        <div class="col-lg-4 col-sm-12 contact">
          <h1>Contact</h1>

          <div class="contact-info">

            <a href="#" class="contact-link">
              <i class="fal fa-envelope fa-2x"></i>
              <p>Joinus.summit@tacafrica.org</p>
            </a>

            <a href="#" class="contact-link">
              <i class="fal fa-phone fa-2x"></i>
              <p>+234 123 4567 8900</p>
            </a>

            <a href="#" class="contact-link">
              <i class="fal fa-map-marker-alt fa-2x"></i>
              <p>Address</p>
            </a>

          </div>
        </div>
        <!-- end of contact -->
        <div class="col-lg-4 col-sm-12 follow-us">
          <h1>Follow us</h1>
          <div class="follow-us-info">

            <div class="media-1">
              <a href="#" class="media twitter-link col-4">
                <i class="fab fa-twitter fa-2x"></i>
                <p>Twitter</p>
              </a>

              <a href="#" class="media instagram-link col-4">
                <i class="fab fa-instagram fa-2x"></i>
                <p>Instagram</p>
              </a>
            </div>

            <div class="media-2">
              <a href="#" class="media facebook-link col-4">
                <i class="fab fa-facebook fa-2x"></i>
                <p>Facebook</p>
              </a>

              <a href="#" class="media linkedin-link col-12">
                <i class="fab fa-linkedin fa-2x"></i>
                <p>LinkedIn</p>
              </a>
            </div>

          </div>
        </div>
        <!-- end of follow-us -->
        <div class="col-lg-4 col-sm-12 col-auto newsletter">
          <h1>Newsletter</h1>
          <p>Get subscriber only insights & news about our conference</p>


          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text" style="border-top-left-radius: 23px; border-bottom-left-radius: 23px;color: white; background: #00285b;
                width: 109px; border: none;">
                  <button type="submit" class="btn" style=" padding: 0px 0px 0px 10px;
                  border: none;background: none; color: white; border: none; cursor: pointer;">Subscribe</button></div>
              </div>
              <input type="email" class="form-control" id="inlineFormInputGroup"
                style=" border: none;   border-bottom-right-radius: 23px; border-top-right-radius: 23px;"
                placeholder="Email Here">
            </div>
          </div>


        </div>

      </div>
    </div>
    <ul class="links">
      <li><a href="#">Home</a></li>
      <li>|</li>
      <li><a href="#">Members</a></li>
      <li>|</li>
      <li><a href="#">About</a></li>
    </ul>
    <p class="last">© 2020 TAC Drone Summit - All rights reserved </p>
  </div>
</footer>
