@import "../../../styles/abstracts/variables";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.summit-footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("https://cdn.tacafrica.org/assets/img/footer.png");
  min-height: 522px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
  font-family: 'Lato',
    sans-serif;

  &__main {
    margin: 1em;
    // padding-top: 3em;
  }
}

.col-lg-4 {
  margin-bottom: 2em;

  h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
  }

  a {
    display: flex;
    padding: 0px 0px 20px 0px;
    align-items: center;
    justify-content: left;
    margin-left: 1.5em;
    text-decoration: none;
    transition: all .5s ease;

    p {
      margin-left: 1em;
      color: white;
    }

    i {
      color: white;
      transition: all .5s ease;
    }
  }
}

.newsletter {
  p {
    color: white;
    margin-bottom: 1em;
    text-align: center;
    line-height: 28px;
  }
}

.fal:hover,
.fab:hover {
  transform: rotateY(360deg);
}

.fa-twitter:hover {
  color: #55acee !important;
}

.fa-facebook:hover {
  color: #3b5999 !important;
}

.fa-linkedin:hover {
  color: #0077b5 !important;
}

.fa-instagram:hover {
  color: #fd5949 !important;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  margin: 0 auto;
  margin-top: 60px;

  li {
    color: #fff;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.last {
  color: #fff;
  margin: 0 auto;
  width: 55%;
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 500px) {
  .follow-us-info {
    max-width: 300px;
    margin: 0 auto;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;

    .media-2 {
      margin-left: 0 !important;
    }
  }

  .contact-info {
    max-width: 400px;
    margin: 0 auto;
    padding-right: 3em;
  }
}

@media (max-width: 990px) {
  .follow-us-info {
    max-width: 300px;
    margin: 0 auto;
    display: flex;

    .media-2 {
      margin-left: 1em;
    }

    .media {
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }

  .contact-info {
    max-width: 400px;
    margin: 0 auto;
  }

  .newsletter {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .follow-us-info {
    max-width: 300px !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: row !important;
    margin-left: 0;

    .media-2 {
      margin-left: 1em !important;
    }

    .media {
      margin-left: 1em !important;
      margin-bottom: 1em !important;
    }
  }

  .contact-info {
    max-width: 400px;
    margin: 0 auto;

  }

  .newsletter {
    max-width: 300px;
    margin: 0 auto;
  }
}

.follow-us-info {
  display: flex;
  margin-left: 1.5em;

  .media-2 {
    margin-left: 3em;
  }

  .media {
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $breakpoint-md) {

  .col-lg-4 {
    h1 {
      margin-bottom: 1em;
    }

    a {
      display: flex;
      padding: 0px 0px 20px 0px;
      align-items: center;
      justify-content: left;
      margin-left: 1.5em;
      text-decoration: none;
      transition: all .5s ease;

      p {
        margin-left: .5em;
        color: white;
      }

      i {
        color: white;
        transition: all .5s ease;
        margin-right: 10px;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 0px;

    li {
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }


  .last {
    color: #fff;
    margin: 0 auto;
    min-width: 300px;
    text-align: center;
    margin-top: 1em;
    padding-bottom: .2em;
  }
}

.follow-us-info {
  margin: 0 auto;
}
