@import "../../../styles/abstracts/variables";

.slash-details {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)),
    url("https://cdn.tacafrica.org/assets/img/slash-details.JPG");
  min-height: 355px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
  }

  &__main {
    display: flex;

    .svg {

      background: white;
      padding: 10px 5px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 2.9em;
        font-weight: bold;
        color: #00285b;
      }
    }

    .main-details {
      align-self: center;
      margin-left: 10px;

      :first-child {
        font-weight: bold;
        font-size: 2em;
      }

      :last-child {
        margin-top: 10px;
        width: 105px;
        line-height: 1.3;
      }
    }

  }
}

@media (max-width: $breakpoint-lg) {
  .slash-details {
    min-height: 600px;

    &__container {
      flex-direction: column;
      top: 17%;
    }

    &__main {
      margin: 0 auto;
      margin-top: 33px;
      margin-bottom: 20px;
    }
  }
}
