<section>
  <div class="slash-details">
    <div class="slash-details__container" data-aos="fade-up" data-aos-duration="2000">
      <div class="slash-details__main">
        <div class="svg">
          <i class="fal fa-microphone"></i>
        </div>
        <div class="main-details">
          <div>100</div>
          <div>Subject-Matter
            Experts</div>
        </div>
      </div>

      <div class="slash-details__main">
        <div class="svg">
          <i class="far fa-globe-africa"></i>
        </div>
        <div class="main-details">
          <div>89+</div>
          <div>Countries</div>
        </div>
      </div>

      <div class="slash-details__main" >
        <div class="svg">
          <i class="far fa-users"></i>
        </div>
        <div class="main-details">
          <div>1000+</div>
          <div>Attendees</div>
        </div>
      </div>
    </div>
  </div>
</section>
