@import "../../styles/abstracts/variables";

.container-title {
  display: flex;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: -0.083em;
  font-weight: bold;
  margin-bottom: 4em;

  &__primary {
    flex: 1 1 320px;
    margin-top: 100px;

    .summit-line {
      height: 3px;
      max-width: 300px;
      border-radius: 50px;
    }

    .summit-title {
      font-size: 3em;
      text-transform: uppercase;
      max-width: 407px;
      line-height: 1.2;
      margin-top: .5em;
    }
  }

  &__secondary {
    display: flex;
    align-items: flex-end;
    flex: 2 0 auto;
    justify-content: right;
    cursor: none;


    h2 {
      font-size: 4em;
      font-weight: bold;
      text-transform: uppercase;
      opacity: 8.3%;
      letter-spacing: -8.82px;
      line-height: 1.2;
    }
  }

  .bk-white {
    color: #fff;
  }

  .bk-black {
    color: black;
  }

  .bk-blue {
    color: $summit-light-blue;
  }

  .ln-white {
    background: #fff;
  }

  .ln-black {
    background: black;
  }

  .ln-blue {
    background: $summit-light-blue;
  }
}



.summit-social {
  margin-top: 1em;

  .social-network {
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    padding: 0 20px;
  }

  .icoSocial {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 2em;
    background: #374580;
    color: #fff;

    i {
      line-height: 50px;
    }

    &:hover,
    &:after,
    &:focus {
      background-color: #323f73;
    }
  }



}

@media (max-width: $breakpoint-xl) {
  .container-title {
    &__secondary {
      h2 {
        font-size: 3.5em;
      }
    }
  }
}


@media (max-width: $breakpoint-lg) {
  .container-title {
    &__primary {
      .summit-line {
        max-width: 250em;
      }

      .summit-title {
        font-size: 2.5em;
      }
    }

    &__secondary {
      h2 {
        font-size: 2.77em;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .container-title {
    &__primary {
      .summit-line {
        max-width: 200px;
      }

      .summit-title {
        font-size: 2em;
        max-width: 330px;
      }
    }

    &__secondary {
      h2 {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {}

@media (max-width: $breakpoint-xsm) {}

@media (max-width: $breakpoint-xxsm) {}
